
@font-face {
  font-family:my-font ;
  src: url('../public/07a54048a9278940-s.p.ttf');
}

.slider-1{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    /* background: #f7f3ff; */
    
}
.slider-1 h1{
  font-family:my-font;
  color: #474748;
}